<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script src="script.js"></script>

  <script src="dirPagination.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="style.css" />
  <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">
  <link rel="icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">

  <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

<style type="text/css">

  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

</style>

  </head>

<body>



<div id="w" ng-controller="MyController" class="my-controller">
    <h1>Github Scrapper Tool</h1>
    <p style="font-size: 20 px">Search all repositries on Github by language and stars.</p>
   
   
<div class="container">
  <div class="row">
      <div class="col-sm-6" >
         
         <div class="form-group">
   
   <h2>Stars</h2>   
    <input type="number"  ng-model="stars" min="0" max="10000" placeholder="Enter the number of stars "class="form-control" id="email">
          </div>

       <h2>Criteria: {{choice}}</h2>
      <select class="form-control" id="sel1" ng-model="choice">
        <option ng-repeat="arr in array" >{{arr}}</option>
      </select>
      

      </div>

  </div>
  <div class="row">
      <div class="col-sm-6" >
  
      <div class="form-group">
          <h2  >Language</h2>
          <input list="lang" name="lang" ng-model="language" class="form-control">
              <datalist id="lang">
                    <option  ng-repeat="la in langarray track by $index" value="{{la}}">
                </datalist>

      </div>
    </div>
  </div>
<br>

<button type="button" ng-disabled="check()" ng-click="refresh()" class="btn btn-primary">Pull Data</button>    
<br>
<br>
<div class="row">
      <div class="col-sm-6" >
  
      <div class="form-group">
          <h2 >Search Profile</h2>
            <input type="text" name="ghusername" id="ghusername" placeholder="Github username...">
    
    <a href="#" id="ghsubmitbtn">Pull User Data</a>
    
    <div id="ghapidata" class="clearfix"></div>
 
      </div>
    </div>
  </div>




</div>




   <div>






</div>
   


    <div id="ghapidata" class="clearfix"></div>

<h1 ng-if="!checkmeal()">NO DATA AVALIABLE</h1>
 <div class="container" ng-if="checkmeal()">


<h1 style="font-size:40px left:300 px" ng-if="checkmeal()"> Total results returned: {{userData.total_count}}</h1>

 

<form class="form-inline" >
  

<h2>Search repos</h2>   
    <input type="text" ng-model="q"  placeholder="Enter the number of stars "class="form-control" id="email">
 
  
  <h2>PageSize : {{pageSize}} </h2>   
    <input type="text" ng-model="pageSize" placeholder="Enter the number of stars "class="form-control" id="email">
 

  
     
  </form>


    <div class="row">
      <div class="col-lg-8">
        <div >

            <div class="row">
            <div class="col-xs-4">
            </div>
            

           
          </div>
          <br>
              
<table class="table table-striped" ng-if="checkmeal()">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody >
      <tr  dir-paginate="item in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td> {{ item.full_name }}</td>
        <td>{{ item.description }}</td>
        <td><a href="{{item.html_url}}">{{item.html_url}}</a></td>
      </tr>
    </tbody>
  </table>
        </div>



        <div ng-controller="OtherController" class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>

  </div>



    
    

      </div>
    </div>



   
 
  </div>
  
</body>
<script >
  $(function(){
  $('#ghsubmitbtn').on('click', function(e){
    e.preventDefault();
    $('#ghapidata').html('<div id="loader"><img src="css/loader.gif" alt="loading..."></div>');
    
    var username = $('#ghusername').val();

    var requri   = 'https://api.github.com/users/'+username;

    var repouri  = 'https://api.github.com/users/'+username+'/repos';
    
    requestJSON(requri, function(json) {
      if(json.message == "Not Found" || username == '') {
        $('#ghapidata').html("<h2>No User Info Found</h2>");
      }
      
      else {
              var fullname   = json.name;
          var username   = json.login;
          var aviurl     = json.avatar_url;
        var profileurl = json.html_url;
          var location   = json.location;
          var followersnum = json.followers;
        var followingnum = json.following;
          var reposnum     = json.public_repos;
        
        if(fullname == undefined) { fullname = username; }
        
        var outhtml = '<h2>'+fullname+' <span class="smallname">(@<a href="'+profileurl+'" target="_blank">'+username+'</a>)</span></h2>';
        outhtml = outhtml + '<div class="ghcontent"><div class="avi"><a href="'+profileurl+'" target="_blank"><img src="'+aviurl+'" width="80" height="80" alt="'+username+'"></a></div>';
        outhtml = outhtml + '<p>Followers: '+followersnum+' - Following: '+followingnum+'<br>Repos: '+reposnum+'</p></div>';
        outhtml = outhtml + '<div class="repolist clearfix">';
        
        var repositories;
        
        $.getJSON(repouri, function(json){
        
          repositories = json;   
        
          outputPageContent();                
        
        });          
        
  function outputPageContent() {

          if(repositories.length == 0) { outhtml = outhtml + '<p>No repos!</p></div>'; }

          else {
        
            outhtml = outhtml + '<p><strong>Repos List:</strong></p> <ul>';
 
            $.each(repositories, function(index) {
              outhtml = outhtml + '<li><a href="'+repositories[index].html_url+'" target="_blank">'+repositories[index].name + '</a></li>';
        
            });
            outhtml = outhtml + '</ul></div>'; 
          }
          $('#ghapidata').html(outhtml);
        }
      } 
    }); 
  }); 
  
  function requestJSON(url, callback) {
 
    $.ajax({
      url: url,
 
      complete: function(xhr) {
 
        callback.call(null, xhr.responseJSON);
      }
    });
  }
});
</script>
</html>
